<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="light">Remove Char</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-label position="floating">Name</ion-label>
    <ion-input placeholder="Character You Want to Remove"></ion-input>
  </ion-item>

  <ion-button class="add" type="submit" color="danger" [routerLink]="['/home']">Remove</ion-button>
  <ion-button class="cancel" [routerLink]="['/home']" color="danger">Cancel</ion-button>

</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <a [routerLink]="['/home']">
      <img src="../../assets/espada branca.png" class="sword" width="45"/>
    </a>
    <a [routerLink]="['/rules']">
      <img src="../../assets/livro branco.png" class="book" width="90"/>
  </a>
  </ion-toolbar>
</ion-footer>