<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="light">Add Character</ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content>
      <ion-item lines="full">
        <ion-label position="floating">Name</ion-label>
        <ion-input placeholder="Add Character's Name"></ion-input>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label position="floating">AC</ion-label>
        <ion-input placeholder="Add Character's AC"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">HP</ion-label>
        <ion-input placeholder="Add Character's HP"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">MP</ion-label>
        <ion-input placeholder="Add Character's MP"></ion-input>
      </ion-item>
               
        <ion-item lines="full">
          <ion-label position="floating">Passive Perception</ion-label>
          <ion-input placeholder="Add Character's Passive Perception"></ion-input>
        </ion-item>
                         
      <ion-button class="add" type="submit" color="danger" (click)="add()">Add</ion-button>
      <ion-button class="cancel" [routerLink]="['/home']" color="danger">Cancel</ion-button>
      </ion-content>
      
    <ion-footer>
      <ion-toolbar color="dark">
        <a [routerLink]="['/home']">
          <img src="../../assets/espada branca.png" class="sword" width="45"/>
        </a>
        <a [routerLink]="['/rules']">
          <img src="../../assets/livro branco.png" class="book" width="90"/>
      </a>
      </ion-toolbar>
    </ion-footer>