<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="light">Rules</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="danger">Combat</ion-button>
  <ion-button color="danger">Conditions</ion-button>
  <ion-button color="danger">Types pf Demage</ion-button>
  <ion-button color="danger">Monsters</ion-button>

<ion-item>Data will be presented here...</ion-item>
<ion-item>{{ data ? data : '-' }}</ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <a [routerLink]="['/home']">
      <img src="../../assets/espada branca.png" class="sword" width="45"/>
    </a>
    <a [routerLink]="['/rules']">
      <img src="../../assets/livro cinza.png" class="book" width="90"/>
  </a>
  </ion-toolbar>
</ion-footer>